


<div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="replyModalLabel">Reply to Review</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <%= form_with(model: [@product, Review.new], local: true) do |form| %>
        <div class="form-group">
          <%= form.label :content %>
          <%= form.text_area :content, required: true %>
        </div>
        <%= form.hidden_field :parent_id, value: @parent_id %> 
        <p>Parent ID: <%= @parent_id %></p>
        <%= form.submit 'Submit Reply' %>
      <% end %>
    </div>
  </div>
</div>
