<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<h1>Product Details</h1>
<div class="container mt-4">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |item| %>
        <tr>
          <td><%= item.product_id %></td>
          <td><%= item.product.name %></td>
          <td><%= item.quantity %></td>
          <td><%= format_price(item.total) %></td> 
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="mt-3">
    <%= link_to "CONTINUE SHOPPING", product_path, class: "btn btn-color text-grey fs-7" %>
    
    
  </div>
</div>
